<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.LessonMapper">

    <sql id="Base_Column_List">
        id,semester_name,teacher_id,name,lab_id,class_name,number,week,day_of_week,section
    </sql>

    <select id="selectAll" resultType="com.example.entity.Lesson">
        select lesson.*,teacher.name as teacherName, lab.no as labNo
        from lesson
        left join teacher on lesson.teacher_id = teacher.id
        left join lab on lesson.lab_id = lab.id
        <where>
            <if test="id != null"> and lesson.id= #{id}</if>
            <if test="week != null"> and lesson.week= #{week}</if>
            <if test="section != null"> and lesson.section= #{section}</if>
        </where>
        order by id desc
    </select>

    <select id="selectById" resultType="com.example.entity.Lesson">
        select
        <include refid="Base_Column_List" />
        from lesson
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from lesson
        where  id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Lesson" useGeneratedKeys="true">
        insert into lesson
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="semesterName != null">semester_name,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="labId != null">lab_id,</if>
            <if test="name != null">name,</if>
            <if test="className != null">class_name,</if>
            <if test="week != null">week,</if>
            <if test="dayOfWeek != null">day_of_week,</if>
            <if test="section != null">section,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="semesterName != null">#{semesterName},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="labId != null">#{labId},</if>
            <if test="name != null">#{name},</if>
            <if test="className != null">#{className},</if>
            <if test="week != null">#{week},</if>
            <if test="dayOfWeek != null">#{dayOfWeek},</if>
            <if test="section != null">#{section},</if>
        </trim>
    </insert>


    <update id="updateById" parameterType="com.example.entity.Lesson">
        update lesson
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="className!= null">
                class_name = #{className},
            </if>
            <if test="week != null">
                week = #{week},
            </if>
            <if test="dayOfWeek != null">
                day_of_week = #{dayOfWeek},
            </if>
            <if test="section != null">
                section = #{section},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>